*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.menu-hamburger {
    display: none;
    cursor: pointer;
}

.menu-hamburger .hamburger-line {
    width: 25px;
    height: 3px;
    background-color: #fff900;
    margin: 5px 0;
}

.nav-links {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-links li {
    margin-right: 10px;
    text-align: center;
}

.nav-links a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #fff900;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.nav-active .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: #000;
    padding: 50px;
    z-index: 3;
}

.nav-active .nav-links li {
    margin-right: 0;
    margin-bottom: 20px;
}

.nav-active .overlay {
    display: block;
}


.header-img {
    background: url(images/header-morpion.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 45%;
    background-position: center;
}

.titre-jeu h1 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
    color: white;

}

.regles h1 {
    color: white;
    margin-top: 25px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.regles li {
    padding: 10px;
    font-size: 27px;
    color: white;
    text-align: center;
    background-color: #484848;
}

.regles p {
    background-color: #484848;
}

.regles h2 {
    background-color: #484848;
    text-align: center;
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #484848;
    padding: 100px;
    margin-top: 0;
}

.chevron {
    position: absolute;
    width: 9rem;
    /* Remplace $base * 3.5 */
    height: 0.48rem;
    /* Remplace $base * 0.8 */
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;

}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #000;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
        /* Remplace $base * 3.8 */
    }

    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
        /* Remplace $base * 5.2 */
    }

    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
        /* Remplace $base * 8 */
    }
}

.jeu {
    background-color: #757577;
}

.player-names {

    text-align: center;
    font-size: 80px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: #000;
    padding: 40px;
}

.cell {
    background-color: #f1f1f1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;

}



/* Responsive styles */
@media screen and (max-width: 480px) {
    .game-board {
        max-width: 280px;
    }

    .cell {
        height: 80px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .menu-hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav-links.mobile-menu {
        display: flex;
    }
}